/* Fonts */
/* hebrew */
@font-face {
  font-family 				: 'Varela Round';
  font-style 				: normal;
  font-weight 				: 400;
  font-display 				: swap;
  src 						: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfpcuPP9g.woff2) format('woff2');
  unicode-range 			: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family 				: 'Varela Round';
  font-style 				: normal;
  font-weight 				: 400;
  font-display 				: swap;
  src 						: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfqMuPP9g.woff2) format('woff2');
  unicode-range 			: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family 				: 'Varela Round';
  font-style 				: normal;
  font-weight 				: 400;
  font-display 				: swap;
  src 						: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2) format('woff2');
  unicode-range 			: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family 				: 'Varela Round';
  font-style 				: normal;
  font-weight 				: 400;
  font-display 				: swap;
  src 						: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');
  unicode-range 			: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--page-width			: 100%;
	--page-height			: 100%;
	--primary-font-color	: #444;
	--secondary-font-color	: #fff;
	--primary-font-family	: 'Varela Round', sans-serif;
	--primary-font-size		: 1.3em;
}
* {
	margin 					: 0;
	padding 				: 0;
	-webkit-box-sizing		: border-box;
	-moz-box-sizing			: border-box;
	-ms-box-sizing			: border-box;
	-o-box-sizing			: border-box;
	box-sizing 				: border-box;
}
body, html {
	width 					: var(--page-width);
	height 					: var(--page-height);
	font-family 			: var(--primary-font-family);
	font-size 				: var(--primary-font-size);
	color 					: var(--primary-font-color);
	background 				: #0f0c29;  /* fallback for old browsers */
	background 				: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background 				: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.flex {
	display 				: -webkit-box;
	display 				: -moz-box;
	display 				: -webkit-flex;
	display 				: -ms-flexbox;
	display 				: flex;
}
.column {
	-webkit-flex-direction	: column;
	-moz-flex-direction		: column;
	-ms-flex-direction		: column;
	-o-flex-direction		: column;
	flex-direction 			: column;
}
.justify-content-center {
	-webkit-justify-content : center;
	-moz-justify-content 	: center;
	-ms-justify-content 	: center;
	-o-justify-content 		: center;
	justify-content 		: center;
}
.justify-content-spacebetween {
	-webkit-justify-content : space-between;
	-moz-justify-content 	: space-between;
	-ms-justify-content 	: space-between;
	-o-justify-content 		: space-between;
	justify-content 		: space-between;
}
.align-items-center {
	-webkit-align-items 	: center; 
	-moz-align-items 		: center; 
	-ms-align-items 		: center; 
	-o-align-items 			: center; 
	align-items 			: center; 
}
.container {
	width 					: inherit;
	height 					: inherit;  
}
#board {
	width 					: 380px;
	height 					: 380px;
}
#board table {
	width					: inherit;
	height					: inherit;
}
/*#board table,*/
#board tr,
#board th,
#board td {
	border 					: 6px solid rgb(157, 142, 255);
	border-collapse 		: collapse;
	box-shadow 				: 0 0 30px 1px rgba(88, 26, 225, 0.28);
	border-radius 			: 15px;  
}
#board td {
	width 					: calc(380px / 3 - 6px);
	height 					: calc(380px / 3 - 6px);
	text-align 				: center;
	cursor 					: pointer;
}
#board td:hover {
	box-shadow 				: 0 0 30px 5px rgb(85, 21, 227);
	transition 				: 100ms linear all;
}
#board td svg {
	color 					: rgb(255, 167, 0);
	width 					: 50px;
	height 					: 50px;   
}
.players {
	width 					: 50%; 
}
.players .player {
	flex 					: 1;
	text-align 				: center; 
}
.player .name {
	font-size 				: 1.2rem;
	color 					: rgb(241, 241, 253);
	text-shadow 			: 0 0 5px rgb(127, 100, 255);
}
.player .points {
	font-size 				: .8rem;
	color 					: rgb(81, 255, 198);
	font-weight 			: bolder; 
}
.controls {
	width 					: 430px;
	margin 					: 30px 0;
}
.btn {
	border 					: none;
	cursor 					: pointer; 
}
.btn-move {
	padding 				: 12px 50px;
	width 					: 300px;
	font-size 				: 20px;
	background 				: #FF416C;  /* fallback for old browsers */
	background 				: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
	background 				: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color 					: white;
	font-weight 			: bolder;
	border-radius 			: 50px;
	font-family 			: var(--primary-font-family);
}
.btn-move  svg {
	width 					: 30px;
	height 					: 30px;
	margin-right 			: 5px;
}
.btn-icon {
	padding 				: 12px;
	border-radius 			: 50px; 
	color 					: white;
	background 				: transparent;
	border 					: 2px solid white;
}
.btn-icon svg {
	width 					: 30px;
	height 					: 30px;
}
.modal-wrapper {
	width 					: inherit;
	height 					: inherit;
	position 				: fixed;
	top 					: 0;
	left 					: 0;
	background 				: rgba(0, 0, 0, 0.4); 
	display 				: none; 
}
.modal-wrapper .modal {
	width 					: 50%;
	background 				: #f4f4f4;
	position 				: relative;
	border-radius 			: 10px;
	box-shadow 				: 0 0 20px 1px rgba(2, 2, 2, 0.8);
}
.modal .btn-close {
	width 					: 40px;
	height 					: 40px;
	background 				: red;
	color 					: var(--secondary-font-color);
	font-size 				: 30px;
	font-weight 			: bolder;  
	position 				: absolute;
	right 					: 0;
	top 					: 0;  
	border-radius 			: 0 10px 0 0;   
}
.modal .modal-content {
	
}
.modal #_Win {
	padding: 50px 40px;
}